# IP Address : 10.0.60.10
# Subnet Mask: 255.255.255.0
# Default GW : 10.0.60.254
# DNS Server : 10.0.60.10
# DHCP Pool  : serverPool 10.0.60.0 255.255.255.0 10.0.60.254 10.0.60.100 50
# DNS Record : ftp.securenet.local A 10.0.60.30
# DNS Record : mail.securenet.local A 10.0.60.40
# DNS Record : www.securenet.local A 10.0.60.20
# DNS Record : web.securenet.local A 10.0.60.20